*, *::before, *::after {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #333;
  }
  
  .container {
    width: 800px;
    color: linen;
    font-size: 20px;
    font-stretch: expanded;
    font-family: Tahoma, sans-serif;
    max-width: 80%;
    background-color: rgb(11, 13, 14);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    margin-top: 20px;
  }
  
  .btn {
    background-color: hsl(17, 58%, 30%);
    border: 1px solid hsl(200, 100%, 1%);
    border-radius: 12px;
    padding: 15px 8px;
    color: white;
    font-size: 20px;
    outline: none;
    box-shadow: 1px 2px 3px 4px;
    font-family: 'Trebuchet MS', sans-serif;
  }

  .btn:hover {
    background: -moz-radial-gradient(rgb(200, 120, 88), rgb(199, 49, 161))
  }

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: -30px;
    font-size: 5.9vw;
    color: rgb(88, 61, 36);
    font-weight: 700;
    font-family: Verdana, sans-serif;
    box-shadow: rgb(11, 13, 14);
  }
  
  img {
    z-index: -2;
    margin: 0;
    padding: 0;
    position: fixed;
    widtH: 100vw;
    height: 100vh;
  }
  
  
  
  
  
  
  
  
  
  

  
  @import url('https://fonts.googleapis.com/css?family=Raleway');
